---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/Home/SectionContainer.astro";
import ReservasContent from "@/components/Reservas/Reservas.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

type tLang = (str: any) => any;
const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
---

<Layout title={t("layout.title")} description={t("layout.description")}>
  <main class="pt-24">
    <SectionContainer class="py-16 md:py-24">
      <ReservasContent lang={lang} />
    </SectionContainer>
  </main>
</Layout>
