<div class="flex items-center">
  <span
    class="relative inline-flex overflow-hidden rounded-xl p-[1px] border-2 border-zeniaMarronOscuro/80 dark:border-gray-400"
  >
    <div
      class="inline-flex items-center justify-center w-full px-4 py-2 text-sm text-zeniaBlanco bg-zeniaMarronOscuro/60 rounded-xl cursor-pointer hover:scale-110 transition-transform duration-300 whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
