---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="bg-white shadow-lg rounded-lg">
  <div class="py-4 px-4 mx-auto max-w-screen-xl text-center lg:py-8">
    <img
      src="/logo/UMERED.webp"
      alt="Hero UMERED"
      class="w-auto h-64 mx-auto mb-4"
    />
    <p
      class="mb-8 font-normal text-pretty text-black lg:text-2xl sm:px-8 lg:px-24"
    >
      {t("heroUMERED.text")}
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
    >
      <a
        href="#"
        class="bg-zeniaBlanco py-3 px-4 rounded-xl border border-green-600 text-green-500 uppercase font-bold hover:text-zeniaBlanco hover:bg-green-600"
        >{t("heroUMERED.button")}</a
      >
    </div>
  </div>
</section>
