---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const MARCAS = [
  { name: "MERS",        image: "/marcas/logo04.webp" },
  { name: "IXA",         image: "/marcas/logo02.webp" },
  { name: "Top Medical", image: "/marcas/logo01.webp" },
  { name: "Termic",      image: "/marcas/logo03.webp" },
  { name: "Naqua",       image: "/marcas/logo05.webp" },
  { name: "BTL",         image: "/marcas/logo-btl.webp" },
  { name: "Galderma",    image: "/marcas/logo09.webp" },
  { name: "Ski Medic",   image: "/marcas/logo07.webp" },
  { name: "IT Pharma",   image: "/marcas/logo08.webp" },
  { name: "Neaubia",     image: "/marcas/logo-neaubia.webp" },
];
---

<h2 class="mt-2 text-center font-extrabold lg:text-4xl md:text-3xl sm:text-2xl">
  {t("marcas.title")}
</h2>

<div class="flex items-center justify-center min-h-screen">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 w-fit mx-auto">
    {
      MARCAS.map((marca) => (
        <div class="shadow-lg rounded-lg">
          <img
            class="h-auto max-w-full rounded-lg"
            src={marca.image}
            alt={marca.name}
          />
        </div>
      ))
    }
  </div>
</div>
